<div class="container">
  <h1 class="text-center mt-4 mb-4">Checkout</h1>

  <!-- Form for providing address or province -->
  <%= form_tag checkout_path, method: :post do %>
    <h2 class="mt-5 mb-3">Provide Address or Province</h2>
    <div class="form-group">
      <%= label_tag :address, "Address" %>
      <%= text_field_tag :address, nil, class: "form-control", placeholder: "Enter your address" %>
    </div>
    <div class="form-group">
      <%= label_tag :province, "Province" %>
      <%= select_tag :province, options_for_select(["Alberta", "British Columbia", "Manitoba", "New Brunswick", "Newfoundland and Labrador", "Nova Scotia", "Ontario", "Prince Edward Island", "Quebec", "Saskatchewan"], nil), include_blank: "Select province", class: "form-control", required: true %>
    </div>

    <!-- proceed to payment -->
    <%= submit_tag "Proceed to Payment", class: "btn btn-primary" %>
  <% end %>

  <!-- Display the invoice -->
  <h2 class="mb-3">Invoice</h2>
  <ul class="list-group">
    <% session[:cart].each do |product_id, quantity| %>
      <% product = Product.find(product_id) %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <h5 class="mb-1"><strong>Product Name:</strong> <%= product.name %></h5>
            <p class="mb-1"><strong>Price:</strong> <%= number_to_currency(product.price) %></p>
            <p class="mb-1"><strong>Quantity:</strong> <%= quantity %></p>
          </div>
        </div>
      </li>
    <% end %>
    <li class="list-group-item">
      <p><strong>Total:</strong> <%= number_to_currency(@total_price) %></p>
      <p><strong>Tax:</strong> <%= number_to_currency(@total_price_with_tax - @total_price) %></p>
      <p><strong>Grand Total:</strong> <%= number_to_currency(@total_price_with_tax) %></p>
    </li>
  </ul>

  <!-- Back to Cart button -->
  <%= link_to "Back to Cart", view_cart_path, class: "btn btn-secondary mt-3" %>
</div>
