<div class="container">
  <h1 class="text-center mt-4 mb-4">Shopping Cart</h1>

  <% if session[:cart].present? %>
    <ul class="list-group">
      <% total_price = 0 %>
      <% session[:cart].each do |product_id, quantity| %>
        <% product = Product.find(product_id) %>
        <% total_price += product.price * quantity %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6">
              <h5 class="mb-1"><strong>Product Name:</strong> <%= product.name %></h5>
              <p class="mb-1"><strong>Price:</strong> <%= number_to_currency(product.price) %></p>
            </div>
            <div class="col-md-6">
              <%= form_tag update_cart_path(product_id), method: :patch, class: "form-inline" do %>
                <%= hidden_field_tag :product_id, product_id %>
                <label for="quantity_<%= product_id %>" class="mr-2"><strong>Quantity:</strong></label>
                <%= number_field_tag "quantity[#{product_id}]", quantity, class: "form-control mr-2", id: "quantity_#{product_id}" %>
                <%= submit_tag "Update", class: "btn btn-primary btn-sm mr-2" %>
              <% end %>
              <%= button_to "Remove from Cart", remove_from_cart_path(product_id), method: :delete, class: "btn btn-danger btn-sm mt-2" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="row mt-4">
      <div class="col-md-12 text-right">
        <h4>Total Price: <%= number_to_currency(total_price) %></h4>
        <%= form_tag checkout_path, method: :post do %>
          <%= submit_tag "Checkout", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="alert alert-info" role="alert">
      Your shopping cart is empty.
    </div>
  <% end %>
</div>
