<div class="container">
    <h1 class="text-center mt-4 mb-4">Shopping Cart</h1>
    <% if session[:cart].present? %>
    <% total_price = 0 %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% session[:cart].each do |product_id, quantity| %>
            <tr>
                <% product = Product.find(product_id) %>
                <td><%= product.name %></td>
                <td><%= number_to_currency(product.price * quantity) %></td>
                <% total_price += (product.price * quantity) %>
                <td>
                    <%= form_tag update_cart_path(product_id), method: :patch, class: "form-inline" do %>
                        <%= hidden_field_tag :product_id, product_id %>
                        <%= number_field_tag "quantity[#{product_id}]", quantity, class: "form-control mr-2", id: "quantity_#{product_id}" %>
                        <%= submit_tag "Update", class: "btn btn-primary btn-sm" %>
                    <% end %>
                </td>
                <td>
                    <%= button_to "Remove", remove_from_cart_path(product_id), method: :delete, class: "btn btn-danger btn-sm" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <form action="<%= checkout_path %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="row">
            <div class="modal-body">
                <%= hidden_field_tag :id, current_user.id %>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" value="<%= User.find(current_user.id).email %>">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="address" id="address" name="address" class="form-control" value="<%= User.find(current_user.id).address %>">
                </div>
                <!-- Add other form fields as needed -->
            </div>
            <div class="col-md-8 offset-md-2 text-right">
            <div class="invoice-total">
                <p><strong>Subtotal:</strong> <%= number_to_currency(total_price) %></p>
                <p><strong>GST (<%= (Province.find(User.find(current_user.id).province_id).gst)%>%) :</strong> <%= number_to_currency(total_price * (Province.find(User.find(current_user.id).province_id).gst)/100) %></p>
                <p><strong>PST (<%= (Province.find(User.find(current_user.id).province_id).pst)%>%):</strong> <%= number_to_currency(total_price * (Province.find(User.find(current_user.id).province_id).pst)/100) %></p>
                <p><strong>HST (<%= (Province.find(User.find(current_user.id).province_id).hst)%>%):</strong> <%= number_to_currency(total_price * (Province.find(User.find(current_user.id).province_id).hst)/100) %></p>
                <hr>
                <p><strong>Total:</strong> <%= number_to_currency(total_price + (total_price * (Province.find(User.find(current_user.id).province_id).gst)/100) + (total_price * (Province.find(User.find(current_user.id).province_id).pst)/100) + (total_price * (Province.find(User.find(current_user.id).province_id).hst)/100)) %></p>
            </div>
            <button type="submit" class="btn btn-primary btn-lg mt-4">Purchase Now</button>
            </div>
        </div>
    </form>
    <% else %>
    <div class="alert alert-info mt-4" role="alert">
        Your shopping cart is emy.
    </div>
    <% end %>
</div>

has context menu