<div class='container'>
  <h1 class="mt-5 mb-4"><%= @category.name %> Products</h1>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><strong>Price:</strong> <%= number_to_currency(product.price) %></p>
            <!-- Add more product details as needed -->
            <div class="mt-auto">
              <a href="/Products/show?id=<%= product.id %>" class="btn btn-primary btn-block">View Details</a>
              <%= button_to "Add to Cart", add_to_cart_path(product_id: product.id), method: :post, remote: true, class: "btn btn-outline-primary btn-block add-to-cart-btn", data: { product_id: product.id } %>
              <!-- Use JavaScript to handle the response and update UI if needed -->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
