<!DOCTYPE html>
<html>
<head>
  <title>Your Application</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Include Bootstrap CSS -->
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css' %>
</head>


<body>
<!-- As a link -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav>

<!-- As a heading -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div>
</nav>
  <%= yield %>

  <!-- Include Bootstrap JS (optional) -->
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js' %>
</body>
</html>
